<h1>Stupid Coaching</h1>
  <label> Ask your coach anything :
    <form action="/answer" data-turbo="false">
    <input type="text" name="answer">
    <input type="submit" value="Ask!">
    </form>
  </label>
